.emojis, header{
    max-width: 1200px;
    margin: 0 auto;
}
.emoji{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.emoji .icon {
    text-align: center;
    order: -1;}
.emoji p{flex-grow: 1;}
.emojis{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}
